<!DOCTYPE html>
<html>
<head>
  <title>Update Settings</title>
</head>
<body>
  <h1>Settings</h1>
    <%= form_for :settings, url: "/settings", html: {method: "patch"} do |f| %>
    Auto-text message: <%= f.text_field :auto_text_content%>
    <%= f.submit %>
<% end %>

</body>
</html>