<!DOCTYPE html>
<html>
<head>
  <title>Update Settings</title>
</head>
<body>
  <h1>Settings</h1>
  <form>
    Auto-text message:
    <input type="text" name="autotext">
    <br>
    <button class="btn btn-info" >Save</button>

  </form>
</body>
</html>